body {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  line-height: 1.3;
}

.flight {
  width: 50%;
  margin: 10rem;
  border: 2px dashed #000000;
}

.flight__logo {
  background-color: #f83030;
  padding: 1.5rem;
  text-align: right;
  color: #f0f8ff;
}

.flight__logo p {
  margin: 0;
}

.flight__info {
  padding: 0 3rem 1rem 3rem;
}

span {
  text-decoration: underline;
}
